<!DOCTYPE HTML>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<h1 style="text-align: center">Admin panel</h1>

<table class="table table-bordered table-striped">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Role</th>
        <th COLSPAN="2">Operations</th>
    </tr>
    <tr th:each="user, state : ${user}">
        <td th:utext="${user.getId()}">Id</td>
        <td th:utext="${user.getUsername()}">Name</td>
        <td th:utext="${user.getPassword()}">Password</td>
        <td th:utext="${user.getRole()}">Role</td>
        <td>
            <form action="#" th:action="@{admin/{id}/edit(id=${user.getId()})}" th:method="get">
                <button type="submit" class="btn"> Edit</button>
            </form>
        </td>

        <td>
            <form action="#" th:action="@{admin/{id}/delete(id=${user.getId()})}" th:method="delete">
                <button type="submit" class="btn"> Delete</button>
            </form>
        </td>
    </tr>
</table>
<br>
<input type="button" value="Add"
       onclick="window.location.href= 'admin/new' "/>

<form style="display:inline" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>

