<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<h1>Edit user</h1>
<br>
<form th:method="POST" th:action="@{/admin/{id}(id=${person.getId()})}" th:object="${person}">
    <div>
        <label for="username">Enter name: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <br>
        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>

        <br>
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.getNameTable()}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </p>

        <input type="submit" value="Update!"/>
    </div>
</form>
</body>
</html>