<!doctype html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User page</title>
</head>

<body>


<nav class="navbar bg-dark " data-bs-theme="dark">
    <div class="container-fluid ">
        <span style="font-weight:bold" class="text-white bg-dark "
              th:text="|${person.getUsername()} with roles: ${person.getRole()}|"></span>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" class="btn btn-link text-white bg-dark" value="Logout"/>
        </form>
    </div>
</nav>
<br>


<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div>

    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-home-tab">


                <h2>User information-page</h2>
                <div style="font-weight:bold" class="w-auto p-3 border bg-light clearfix ">About user</div>
                <table class="table table-bordered table-striped">

                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    <tr th:each="person, state : ${person}">
                        <td th:utext="${person.getId()}">Id</td>
                        <td th:utext="${person.getFirstName()}">First Name</td>
                        <td th:utext="${person.getLastName()}">Last Name</td>
                        <td th:utext="${person.getAge()}">Age</td>
                        <td th:utext="${person.getUsername()}">Email</td>
                        <td th:utext="${person.getRole()}">Role</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>